1)

In [ ]:
#input function
l=int(input("enter the l of rectangle"))
b=int(input("enter the b of rectangle"))
a=(l*b)
print(a)

enter the l of rectangle5
enter the b of rectangle6
30

2)

In [ ]:
#input function
n1=int(input("enter n1"))
n2=int(input("enter n2"))
s=n1+n2
q=n1/n2
p=n1*n2
d=n1-n2
print(s)
print(q)
print(p)
print(d)

enter n1100
enter n250
150
2.0
5000
50


3)

a)

In [ ]:
F=float(input('enter a number'))
C=(F-32)*5/9
print(C)

enter a number30
-1.1111111111111112

b)

In [ ]:
C=float(input('enter a number'))
f=(C*9/5)+32
print(f)

enter a number30
86.0

4)

In [ ]:



numb=int(input("enter a number"))
if numb>0:
   print("numb is positive")
elif numb<0:
   print("numb is negative")
else:
   print("invalid")

enter a number20
numb is positive

5)

In [ ]:
y=int(input("enter the year"))
if y%4==0:
   print("it is a leap year")
elif y%4!=0:
   print("it is not a leap year")
elif y%400==0:
   print('it is a leap year')
elif y%400!=0:
   print('it is not a leap year')

else:
   print("False")

enter the year2005
it is not a leap year

6)

In [ ]:
mark=int(input("enter mark"))
if mark>89:
  print("A")
elif mark>79:
  print ("B")
elif mark>69:
  print("C")
elif mark>59:
  print("D")
elif mark<59:
  print("F")
else:
  print("invalid")

enter mark50
F

7)

In [ ]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

8)

In [ ]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

9)

In [ ]:
n = int(input("enter the number:"))
for i in range(1,11):
    print(n,"*", i, "=",n*i)

enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50